<h2>Groups Views</h2>

<h3>Summary</h3>
user_1 owes user_2 amount money.

<h3>Groups Records</h3>
<table>
  <tr>
    <th>id</th>
    <td>&nbsp;</td>
    <th>user_name</th>
    <td>&nbsp;</td>
    <th>group_name</th>
    <td>&nbsp;</td>
    <th>group_member</th>
    <td>&nbsp;</td>
    <th>group_date</th>
  </tr>
  <tr>
    <% @groups.each do |t| %>
      <tr>
        <td><%= t.id %></td>
        <td>&nbsp;</td>
        <td><%= t.user_name %></td>
        <td>&nbsp;</td>
        <td><%= t.group_name %></td>
        <td>&nbsp;</td>
        <td><%= t.group_member %></td>
        <td>&nbsp;</td>
        <td><%= t.group_date %></td>
      </tr>
    <% end %>
  </tr>
</table>

<%= button_to "Create New Group", "/groups/new", method: "get" %>
