<h2>Create New Groups</h2>

<%= form_tag groupviews_index_path, :class => 'form' do %>
  <p>
  <%= label :group, :user_name, 'user_name', :class => 'col-form-label' %>
  <br>
  <%= text_field :group, :user_name, :class => 'form-control' %>
  <br>
  <%= label :group, :group_name, 'group_name', :class => 'col-form-label' %>
  <br>
  <%= text_field :group, :group_name, :class => 'form-control' %>
  </p>
  <%= submit_tag 'Save Changes', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', '/groupviews/index', :class => 'btn btn-secondary' %>
<% end %>
