<%= stylesheet_link_tag 'style.css' %>

<h2 id="transactions">Edit Existing Transaction</h2>

<%= form_tag transaction_path(@transaction), :method => :put do %>
  <p>
  <%= label :transaction, :user_name, 'user_name', :class => 'col-form-label' %>
  <br>
  <%= select :transaction, :user_name, @user_names, :class => 'form-control' %>
  <br>
  <%= label :transaction, :group_name, 'group_name', :class => 'col-form-label' %>
  <br>
    <%= select :transaction, :group_name, @group_names, { :multiple => false }, { :class => 'form-control col-1' } %>
  <br>
  <%= label :transaction, :trans_type, 'transaction_type', :class => 'col-form-label'  %>
  <br>
  <%= select :transaction, :trans_type, ['', 'Food','Grocery','Transportation','Entertainment','others'], {}, {:class => 'form-control col-1'} %>
  <br>
  <%= label :transaction, :trans_number, 'transaction_amount', :class => 'col-form-label' %>
  <br>
  <%= text_field :transaction, :trans_number, :class => 'form-control' %>
  <br>
  <%= label :transaction, :trans_date, 'transaction_date', :class => 'col-form-label'  %>
  <br>
  <%= date_select :transaction, :trans_date, {}, :class => 'form-control col-2 d-inline' %>
  <br>
    <%= fields_for(@members) do |m| %>
    <div id="member_field">
      <%= m.label "Members involved:" %> <br />
      <%= collection_select(:transaction, :group_member, GroupMember.all, :member_name, :member_name, {include_hidden: false}, { :multiple => true, :size => 10}) %>
    </div>
  <% end %>
  <br>

  </p>
  <%= submit_tag 'Update Transaction Detail', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', transaction_path(@transaction), :class => 'btn btn-secondary' %>
<% end %>
