<%= stylesheet_link_tag 'style.css' %>

<h3 id="members">Members in this group</h3>
<table>
  <tr>
    <th>Name</th>
<!--    <th>Group ID</th>-->
    <th>Joined since</th>
  </tr>
  <tr>
    <% @members.each do |m| %>
    <tr>
      <td><%= m.member_name %></td>
<!--      <td><%#= m.group_id %></td>-->
      <td><%= m.created_at %></td>
    </tr>
  <% end %>
  </tr>
</table>

<h3 id="members">Add New Member</h3>

<%= form_tag members_path, :method => "post", :class => 'form' do %>
  <p>
    <%= label :group_member, :member_name, 'Enter the member name:', :class => 'col-form-label' %>
    <%= text_field :group_member, :member_name, :class => 'form-control' %>
  </p>
  <%= submit_tag 'Save Changes', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', '/groupviews/index', :class => 'btn btn-secondary' %>
<% end %>
