<%= stylesheet_link_tag 'style.css' %>

<h2 id="groupviews">Group Views</h2>

<h3>Balance Summary</h3>
<table>
  <tr>
    <th>user_name</th>
    <th>group_name</th>
    <th>balance</th>
  </tr>
  <tr>
    <% @payments.each do |p| %>
    <tr>
      <td><%= p.user_name %></td>
      <td><%= p.group_name %></td>
      <td>$ <%= p.balance %></td>
    </tr>
  <% end %>
  </tr>
</table>

<h3>member Summary</h3>
<table>
  <tr>
    <th>group id</th>
    <th>member name</th>
  </tr>
  <tr>
    <% @members.each do |m| %>
    <tr>
      <td><%= m.group_id %></td>
      <td><%= m.member_name %></td>
    </tr>
  <% end %>
  </tr>
</table>

<h3>Transaction Records</h3>
<table>
  <tr>
    <th>id</th>
    <th>user_name</th>
    <th>group_name</th>
    <th>trans_amount</th>
    <th>trans_type</th>
    <th>group_member</th>
    <th>trans_date</th>
  </tr>
  <tr>
    <% @transactions.each do |t| %>
      <tr>
        <td><%= t.id %></td>
        <td><%= t.user_name %></td>
        <td><%= t.group_name %></td>
        <td><%= t.trans_number %></td>
        <td><%= t.trans_type %></td>
        <td><%= t.group_member %></td>
        <td><%= t.trans_date %></td>
      </tr>
    
    <% end %>
  </tr>
</table>

<%= button_to "Create New Transaction", "/transactions/new", method: "get", class:"btn-hover color" %>

<%= button_to "Add New Member", "/members/new", method: "get", class:"btn-hover left" %>