<h2>Group Views</h2>

<h3>Balance Summary</h3>
<table>
  <tr>
    <th>user_name</th>
    <td>&nbsp;</td>
    <th>group_name</th>
    <td>&nbsp;</td>
    <th>balance</th>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <% @payments.each do |p| %>
    <tr>
      <td><%= p.user_name %></td>
      <td>&nbsp;</td>
      <td><%= p.group_name %></td>
      <td>&nbsp;</td>
      <td>$ <%= p.balance %></td>
      <td>&nbsp;</td>
    </tr>
  <% end %>
  </tr>
</table>

<h3>Transaction Records</h3>
<table>
  <tr>
    <th>id</th>
    <td>&nbsp;</td>
    <th>user_name</th>
    <td>&nbsp;</td>
    <th>group_name</th>
    <td>&nbsp;</td>
    <th>trans_amount</th>
    <td>&nbsp;</td>
    <th>trans_type</th>
    <td>&nbsp;</td>
    <th>group_member</th>
    <td>&nbsp;</td>
    <th>trans_date</th>
  </tr>
  <tr>
    <% @transactions.each do |t| %>
      <tr>
        <td><%= t.id %></td>
        <td>&nbsp;</td>
        <td><%= t.user_name %></td>
        <td>&nbsp;</td>
        <td><%= t.group_name %></td>
        <td>&nbsp;</td>
        <td><%= t.trans_number %></td>
        <td>&nbsp;</td>
        <td><%= t.trans_type %></td>
        <td>&nbsp;</td>
        <td><%= t.group_member %></td>
        <td>&nbsp;</td>
        <td><%= t.trans_date %></td>
      </tr>
    <% end %>
  </tr>
</table>

<%= button_to "Create New Transaction", "/transactions/new", method: "get" %>
